body {
    font-size: 14px;
    /* color: #fff; */
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    letter-spacing: 1px;
}

.col-md-7 {
    color: #fff;
}

.row{
    padding: 100px;
}

.about-image {
    max-width: 100%;
}

.skills-section {
    color: #fff;
}
.skill {
    text-align: center;
    margin-left: 10px;
    
}

.chart {
    position: relative;
    width: 152px;
    height:152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #fff ;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: '%';
}